/* 
.header {
    position:relative;
    text-align:center;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    width: fit-content;
    color:white;
  } */
  
  .header-area{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: #1f2833;
    text-align: center;
    
    /* position:fixed;
    z-index: 2;
    width: 205vh; */
  }
  
  .hamburger { 
    display: none;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #66fcf1;
  }
  
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .nav-menu li {
    list-style: none;
  }
  
  .nav-menu a{
    text-decoration: none;
  }
  
  .nav-item {
    margin-left: 5rem;
  }
  
  .nav-link{
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
  }
  
  .nav-link:hover{
    color: #482ff7;
  }


/* 
  loggedin view */

  .header-area-logged{
    padding: 0.7rem 1.5rem;
    background-color: #1f2833;
    text-align: center;
    display: grid;
    grid-template-columns: 0.1fr 5fr 0.55fr;
    height: 12vh;
  }
  .account-container{
    grid-column: 3/4 ;  
    padding-top: 8px;
    
    
  } 
  .account-container>p{
    color: white;
    font-size: 15px;
    padding-top: 10px;
    padding-left: 10px;
  }

  .drop-down{ 
    position: absolute;
    background-color: #1f2833;
    margin-left: 116.5vh;
    margin-top: 10.67vh;
    display: none;
    padding: 20px;
    padding-right: 110px;
    padding-left: 30px;
    opacity: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    z-index: 5;
  }

  .drop-down > a { 
    font-size: 15px;
    display: flex;
    
  }
 

  
  
  @media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 6rem;
        flex-direction: column;
        background: #1f2833;
        color: white;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 3;
    }

    .drop-down{
      display: block;
      position: absolute;
      background-color: #1f2833;
      margin-left: 30.5vh;
      margin-top: 10.67vh;

      /* margin-right: -100px; */
      /* margin-left: 20.5vh; */
      margin-top: 10.67vh;
      display: none;
      padding: 20px;
      padding-right: 110px;
      padding-left: 30px;
      opacity: 90%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 10px;
    }
  
    .nav-menu.active {
      
        left: 0;
    }
    .nav-menu li {
      
      list-style: none;
    }
    
    .nav-menu a{
      text-decoration: none;
    }
  
    .nav-item {
     
        margin: 2.5rem 0;
    }
  
    .hamburger {
        display: block;
        cursor: pointer;
    }
   
      .hamburger.active .bar:nth-child(2) {
        opacity: 0;
      }
  
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
  }

  @media screen and (width:1920px) {
    
  .drop-down{
    position: absolute;
    background-color: #1f2833;
    margin-left: 170vh;
    margin-top: 10.67vh;
    display: none;
    padding: 20px;
    padding-right: 110px;
    padding-left: 30px;
    opacity: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
  }
  }